body {
    background-color: black;
}

header {
    text-align: center;
}

h1 {
    color:white;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

h2 {
    color: white;
    border-bottom-style: solid;
    border-width: 1px;
    border-color:white;
}

h3 {
    color: white;
}

ul {
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

img {
    width: 90%;
    height: 40%;
    border-radius: 2%;
}

#js-game{
    color: white;
    margin: 20ps;
}

@media (min-width: 640px) {

    body {
        background-color:black;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
        padding-top: 40px;
    }

    h3 {
        font-size: 18px;
    }

    ul { 
        font-size: 17px;
        border-width: 1px;
    }

    #js-game {
        font-size: 20px;
        text-align: center;
    }

    img {
        width: 50%;
        height: 30%;
    }

    #column1    {
        width: 50%;
        float: left;
    }

    #column2    {
        width: 50%;
        float: right; 
    }
    #gameDiv {
        text-align: center;
        color: white;
    }
}   