.face {
    border-radius: 50px;
    width: 100%;
}

.quote {
    padding-bottom: 20px;
    text-align: center;
    color: #5E5E5E;
    font-family: 'Roboto', sans-serif;
}

.name {
    text-align: center;

}

span {
    color: #F46036;
}

h2 {
    padding-left: 20px;
}

header {
    padding: 20px 0px;
}

header,
h1 {
    font-family: 'Roboto Slab', serif;
    color: #333333;
}

ul,
li {
    padding: 10px;
    list-style: none;
    text-align: center;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

footer {
    padding: 20px 0px;
    text-align: center;
    color: #5E5E5E;
    font-family: 'Roboto', sans-serif;
}

h1,
p {
    text-align: center;
}

body {
    background-color: #FCFAF9;
}

@media (min-width: 500px) {
    .face {
        height: 200px;
        width: 200px;
        padding-bottom: 20px;
        margin: 0 auto;
        display: block;
    }
    .name {
        padding-bottom: 20px;
    }
    h2 {
        text-align: center;
    }
    header {
        float: left;
        width: 50%;
    }
    main {
        padding-top: 20px;
    }
    footer p {
        padding-top: 100px;
    }

}