.face {
    border-radius: 50px;
    width: 100%;
}

.quote {
    padding-bottom: 20px;
    text-align: center;
    color: #5E5E5E;
    font-family: 'Roboto', sans-serif;
}

.name {
    text-align: center;

}

span {
    color: #F46036;
}

h2 {
    padding-left: 20px;
}

header {
    padding: 20px 0px;
}

header,
h1 {
    font-family: 'Roboto Slab', serif;
    color: #333333;
}

aside,
h1 {
    font-family: 'Roboto Slab', serif;
    color: #333333;
}

aside,
p {
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

ul,
li {
    padding: 10px;
    list-style: none;
    text-align: center;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

footer {
    padding: 20px 0px;
    text-align: center;
    color: #5E5E5E;
    font-family: 'Roboto', sans-serif;
}

h1,
p {
    text-align: center;
}

body {
    background-color: #FCFAF9;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.questions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

label {
    padding-right: 10px;
    width: 101%;
    padding-bottom: 5px;
}

input {
    width: 75%;
    align-items: center;
    margin-left: 30px;
    text-align: center;
}

.buttons {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 80%;

}

#about-me-answer {
    padding: 20px;
}

@media (min-width: 500px) {
    .face {
        height: 200px;
        width: 200px;
        margin: 0 auto;
        display: block;
    }
    .quote {
        padding-top: 20px;
    }
    .name {
        padding-bottom: 20px;
    }
    h2 {
        text-align: center;
    }
    header {
        float: left;
        width: 50%;
    }
    main {
        padding-top: 20px;
    }
    footer p {
        padding-top: 100px;
    }
    aside {
        clear: both;
    }
    input {
        width: 30%;
        text-align: initial;
    }
    .buttons {
        width: 30%;
    }

    .questions {
        width: 50%;
        justify-content: space-between;
        padding: 20px;
        flex-direction: row;
        text-align: initial;
    }

}