body {
        background-color: Black;
        color: gray;
    }

    h1 {
        color: white;
        text-align: center;
    }

    h2 {
        color: white;
        text-align: center;
    }

    h3 {
        color: white;
        text-align: center;
    }

    p {
        text-align: justify;
    }

    footer {
        font-style: italic;
        text-align: center;
    }

    @media screen and (max-width: 500px) {
        img {
            width: 100%;
            display:block; 
            margin: 0 auto;
        }
    }
    @media screen and (min-width: 501px) {
        img {
            width: 50%;
            display:block; 
            margin: 0 auto;
        }
    }
