body {
    width: 90%;
    background: rgb(202, 126, 209);
    text-align: center;
    margin: 5%;
}

img {
    width: 200px;
}

#facts ul {
    text-align: left;
    width: 30%;
    margin: auto;
}

#info, form {
    border: 2px solid pink;
    box-shadow: 2px 2px 2px 2px pink;
    padding: 2%;
    margin-top: 2%;
}

#game {
    margin-top: 10%;
}

#about-me-game {
    box-shadow: 2px 2px 2px 2px pink;
}

div {
    margin-top: 2%;
}

form {
    margin-top: 5%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

#feedback, #numberFeed {
    color: blue;
}

@media (min-width: 1024px) {

    body{
        text-align: left;
    }

    img {
        float: left;
        width: 300px;
    }

    #facts ul{
        margin: 0;
    }

    #info {
        float: right;
        width: 50%;
    }

    #game h2{
        clear: both;
        width: 40%;
        margin: auto;
        padding-top: 10%;
    }
}